driftfile /var/lib/ntp/drift
restrict default kod nomodify notrap nopeer noquery limited 
restrict -6 default kod nomodify notrap nopeer noquery limited
restrict 192.168.0.0 mask 255.255.255.0 nomodify notrap
restrict 127.0.0.1 
{% for item in ntp_servers %}
server {{ item }} iburst
{% endfor %}
{% if ntp_peer is defined %}
peer {{ ntp_peer }}
{% endif %}
includefile /etc/ntp/crypto/pw
keys /etc/ntp/keys
disable monitor
